<!DOCTYPE html>
<html>
<div class='has-background-info-light'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blackjack</title>
        <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script defer 
        src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class='content has-text-centered'>
                <h1 class='title has-text-primary'>BLACKJACK</h1>
            </div>
        </section>
        <section class="section-body" 
        style="margin-bottom: 12cm; margin-left: 0.6cm; margin-right: 0.6cm;">
            {{!base}}
        </section>
    </body>
    <footer class='footer'>
        <div class='content has-text-centered'>
            Established in 2021 by Aladin Dervišević.</br>
            The source code is licensed 
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </div>
    </footer>
</div>
</html>