<!DOCTYPE html>
<html>
<div class='has-background-info-light'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blackjack</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <section class="section">
            <div class='content has-text-centered'>
                <h1 class='title has-text-primary'>BLACKJACK</h1>
            </div>
        </section>
        <section class="section-body" style="margin-bottom: 0.6cm; margin-left: 0.6cm; margin-right: 0.6cm;">
                {{!base}}
        </section>
        <section class='section'>
            <div class="content has-text-centered">
		    	<h2 class='title has-text-centered has-text-primary'>About</h2>
		    	<div class='box '>
		    		<p>Welcome to the game of Blackjack! <b>Blackjack</b>, also known to some as twenty-one and Black Jack, is one of the most popular casino games because it is simple to learn!</p></br>
		    		<p>Blackjack is a card game that pits player versus dealer. It is played with one or more decks of cards. 
                        Cards are counted as their respective numbers, face cards as ten, and ace as either eleven or one (here it will count as an 11 unless you are over 21). 
                        The goal of Blackjack is to beat the dealer, which can be accomplished by getting <b>Blackjack</b> (first two cards equal 21) without dealer Blackjack, 
                        having your final card count be higher than the dealers without exceeding 21, or by not exceeding 21 and dealer busting by exceeding their card count of 21.</p></br>
		    		<p>In <b>Blackjack</b> the player must decide what to bet before the hand. Click the chips to add them to your bet. Click the chip again to remove it back to your pile of money. 
                        Once you click "deal" your bet is set, and two cards are dealt to the player face up and two cards are dealt to the dealer, one face up and one face down. 
                        You must then decide if you will "hit" (take another card from the deck), "stay" (keep the hand you are dealt), or "double" (you double your bet and are given only one more card).</p>
		    		<p>Once the Blackjack hand is played out, three outcomes can occur. First you can win (as previously described), secondly you can lose (bust hand or have less than dealer hand), or you can push (have same hand - number count or Blackjack - as dealer). 
                        If you win, you get your bet money back PLUS that same amount from the dealer! If you win with Blackjack, you get your original bet back PLUS you win 2 times your bet from the dealer! 
                        If you lose, the dealer takes your bet money. If you push, you keep your bet money but do not win anything additional.</p></br>
		    		<p>Keep playing <b>Blackjack</b> until all your money is gone - then restart! No need to wait additional time for more chips! If you are on a streak and need to leave your computer, no worries! 
                        Your money pile will be kept until you return! Just be sure to Resume your game when asked!</p></br>
		    		<p>And heads up card counters! Just like in the casinos, the cards will automatically shuffle when you get down to half left, so it'll be a bit harder to read what will be coming out next.</p>
		    		<p>Have a good one!</p>
		    	</div>
		    </div>
		    <div class="section">
		    	<h2 class='title has-text-centered has-text-primary'>Blackjack Game Strategy</h2>
		    	<div class="box ">
                <div class="content is-normal">
		    		<ul>
		    			<li>Almost always hit until you reach seventeen, especially if the dealer has a seven or higher.</li>
		    			<li>If the dealer has a four, five or six, don't take any chances! They're most likely to bust. Double your hand in these circumstances if you surely won't bust.</li>
		    		</ul>
                </div>
		    	</div>
		    </div>
        </section>
    </body>
    <footer class='footer'>
        <div class='content has-text-centered'>
            Established in 2021 by Aladin Dervišević.</br>
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </div>
    </footer>
</div>
</html>