% rebase('base.html')
% player, dealer = game.player, game.dealer

<div class="box">
    % if dealer.cards:
    <p>Dealer's cards, value = {{game.hand_value(dealer)}}
        <div class='field is-grouped'>
        % for card in dealer.cards:
            % if card.showing:
            <img style="width: 2.5cm; height: 4cm; margin-right: 0.2cm;" src="/img/{{card.name}}.jpg" alt='{{card.name}}'>
            % else:
            <img style="width: 2.5cm; height: 4cm; margin-right: 0.2cm;" src="/img/Gray_back.jpg"  alt='Card(?)'>
            % end
        % end
        </div>
    </p>
    <div style="margin-block: 1cm;">
        <p class="has-text-success-dark">Lot: {{game.lot}} $</p>
    </div>
    % else:
    <p class="has-text-success-dark">Lot: {{game.lot}} <bold style="color: green;">$</bold></p>
    % end
    % if player.cards:
    <p>Your cards, value = {{game.hand_value(player)}}
        <div class="field is-grouped">
            % for card in player.cards:
            <img style="width: 2.5cm; height: 4cm; margin-right: 0.2cm;" src="/img/{{card.name}}.jpg" alt='{{card.name}}'>
            % end
        </div>
    </p>
    % end
    <div style="margin-block: 0.5cm;">
        <p class="has-text-success-dark">Your balance: {{player.money}} <bold style="color: green;">$</bold></p>
    </div>
    % if not player.cards:
    <div class="field is-grouped" style="margin-top: 0.6cm;">
        <form action='/bet/' method="POST" class="field is-grouped">
            <input class="input" type="number" name="amount" placeholder="Amount of money">
            <button class="button is-outlined is-primary" style="margin-left: 0.2cm;">
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
                <span>Bet</span>
            </button>
        </form>
    </div>
        % if mistake == "invalid literal for int() with base 10: ''":
        <p class='help is-danger'>You have to put in an amount!</p>
        % elif mistake != None:
        <p class='help is-danger'>{{mistake}}</p>
        % end
    % else:
    <div class="field is-grouped">
        <form action='/hit/' method="POST" style="margin-right: 0.2cm;">
            <button class="button is-outlined is-primary">Hit</button>
        </form>
        <form action='/stand/' method="POST" style="margin-right: 0.2cm;">
            <button class="button is-outlined is-primary">Stand</button>
        </form>
        % if len(player.cards) == 2:
        <form action='/double_down/' method="POST" style="margin-right: 0.2cm;">
            <button class="button is-outlined is-primary">Double down</button>
        </form>
        % if len(player.cards) == 2 and player.cards[0].kind == player.cards[1].kind:
        <form action='/split/' method="POST" style="margin-right: 0.2cm;">
            <button class="button is-outlined is-primary">Split</button>
        </form>
    % end
    </div>
</div>